[submodule "chipseq"]
	path = chipseq
	url = https://github.com/kundajelab/TF_chipseq_pipeline
[submodule "ataqc"]
	path = ataqc
	url = https://bitbucket.org/csfoo/ataqc
[submodule "GGR_code"]
	path = GGR_code
	url = https://github.com/nboley/GGR_code

