# default system (local, sge, ...)
system = local

# shell env.
taskShell = /bin/bash -e
sysShell = /bin/bash -e -c

# regex to get pid
pidRegex = "(\\d+)"

# checkpoint disabled, show full commands/stderr/stdout on task, filter out commands including "export" from task hint
disableCheckpoint = true
taskMaxHintLen = 300
showTaskCode = true
tailLines = 100000000
filterOutTaskHint = export
clusterPostMortemDisabled = true 	# prevent error on scg3/4

# SGE
sge.pe = shm
sge.mem = h_vmem
sge.timeout = h_rt
sge.timeout2 = s_rt
clusterRunAdditionalArgs = -V

# SLURM (using generic cluster)
clusterGenericRun = ~/.bds/clusterGeneric/run.pl
clusterGenericKill = ~/.bds/clusterGeneric/kill.pl
clusterGenericStat = ~/.bds/clusterGeneric/stat.pl
clusterGenericPostMortemInfo = ~/.bds/clusterGeneric/postMortemInfo.pl

