bowtie ==1.1.2 #1.1.1
bowtie2 ==2.2.6
samtools ==1.2
bedtools ==2.22 #2.21.0
picard ==1.139 #1.129
ucsc-wigtobigwig
ucsc-bedgraphtobigwig
ucsc-bigwiginfo
ucsc-bedclip
macs2 ==2.1.0
boost ==1.57.0
gnuplot ==5.0.3
trim-galore ==0.4.1
numpy ==1.10.4
matplotlib ==1.5.1
python-levenshtein
pybedtools
pandas # ataqc
metaseq # ataqc
jinja2 # ataqc
graphviz # for HTML report
ghostscript # for conver (pdf to png)
gsl # for preseq
pysam ==0.8.3 # 0.9 has a issue with ATAQC

## picard tool does not have a shell variable PICARDROOT
## PICARDROOT will be defined in conda activate.

## there are packages that are not in official conda repos
## run install_dependencies.sh to install these softwares

# texlive ==2013
# preseq ==2.0.2 


