bowtie ==1.1.2
bowtie2 ==2.2.6
samtools ==1.2 # ncurses bug
htslib # bgzip and tabix not included in new samtools
readline ==6.2.5 # ncurses bug
bedtools ==2.22 # 2.21.0
picard ==1.126 #wanted 1.129 here but doesn't exist. instead 1.139 has backward compatibility issue, so take 1.126
ucsc-wigtobigwig
ucsc-bedgraphtobigwig
ucsc-bigwiginfo
ucsc-bedclip
ucsc-bigWigAverageOverBed
macs2 ==2.1.0
boost ==1.57.0
gnuplot ==5.0.3
trim-galore ==0.4.1
numpy ==1.10.4 #1.9.0 #1.8.2 conflicts with ATAQC
scipy ==0.17.0 
matplotlib
python-levenshtein # for trimAdapter.py
pybedtools # ataqc
libgfortran==3.0 # ataqc
pandas ==0.18.0 #==0.16.1 # ataqc
metaseq #==0.5.6 # ataqc
jinja2 # ataqc
graphviz # graphviz on bioconda channel is buggy, see/use install_dependencies.sh for solution
ghostscript # for convert (pdf to png)
libtool # graphviz needs it
gsl # for preseq
pysam ==0.8.3 # 0.9 has an issue with ATAQC
pigz
zlib
sambamba ==0.6.1

## picard tool does not have a shell variable PICARDROOT
## PICARDROOT will be defined in conda activate.
## see install_dependencies.sh

## samtools could not find libncurse. 
## need to prepend conda library dir. to LD_LIBRARY_PATH
## see install_dependencies.sh

## there are packages that are not in official conda repos
## run install_dependencies.sh to install these softwares

# texlive ==2013
# preseq ==2.0.2 
