executor="sge"
walltime="06:00:00"
procs="shm 1"
sge_request_options="-l h_vmem=10G"

commands {
	bwa {
		sge_request_options="-N bwa_bpipe -l h_vmem=10G"
		walltime="06:00:00"
		procs="shm 4"
	}
	Rscript {
		sge_request_options="-N Rscript_bpipe_xcor -l h_vmem=20G"
		walltime="10:00:00"
		procs="shm 1"
	}
	samtools {
		sge_request_options="-N samtools -l h_vmem=10G"
	}
	bedtools {
		sge_request_options="-N bedtools -l h_vmem=10G"
	}
	bamToBed {
		sge_request_options="-N bamToBed -l h_vmem=10G"
	}
	java {
		sge_request_options="-N java -l h_vmem=10G"
	}
}

