sge.pe = shm
sge.mem = h_vmem
sge.timeout = h_rt
taskShell = /bin/bash -e
sysShell = /bin/bash -e -c
pidRegex = "Your job (\\S+)"

# checkpoint disabled
disableCheckpoint = true

# to show full commands/stderr/stdout on task
taskMaxHintLen = 300
showTaskCode = true
tailLines = 100000000

# filter out commands including "modules.sh" from task hint due to initialization command like (. /etc/profile.d/modules.sh)
filterOutTaskHint = modules.sh


# Use -V to pass all env. vars to qsub jobs (not recommended)
#clusterRunAdditionalArgs = -V 

# If BDS is locally installed on your home $HOME/.bds/ should be included in your PATH
# Do not use $HOME in the following line. Specify absolute path of your home + /.bds

#clusterRunAdditionalArgs = -v PATH=/home/leepc12/.bds 
#clusterRunAdditionalArgs = -v PATH=/home/leepc12/.bds -A accountID -M user@gmail.com 
